.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.cache
.phpstan.cache
README.md
docker-compose.yml
*.log
.idea
.vscode
